

h4{

  color:#fff;
}

.tete{
  background-color: #558ed5;
}
.section0{
  background-color: #c4bd97;
}
.section1{
  background-color:#c6d9f1;
}
.section2{
  background-color:#e6b9b8;
}
.section3{
  background-color:#c3d69b;
}
.section4{
  background-color:#fac090;
}
.section5{
  background-color:#00b0f0;
}

.footer{
  background-color:#b3a2c7;
}
